# ClickHouse/YCSB single-host baseline template.
# YCSB uses ClickHouse MySQL compatibility port 9004 with the MySQL JDBC driver.

DB_TYPE=clickhouse
MODE=singlehost
SERVER_HOST=localhost
CLIENT_HOST=localhost
EXPERIMENT_NAME=clickhouse-singlehost-baseline
REMOTE_ROOT=/tmp/ycsb-bench-all-database
LOCAL_RESULTS_ROOT=/data/sched-ext-study/ycsb-bench-all-database/experiments

CLICKHOUSE_HOME=/home/xhc/clickhouse
CLICKHOUSE_BIN=/home/xhc/clickhouse/ClickHouse/build/programs/clickhouse
CLICKHOUSE_CLIENT=/home/xhc/clickhouse/ClickHouse/build/programs/clickhouse-client
CLICKHOUSE_CONFIG=/home/xhc/clickhouse/etc/config.xml
CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_JDBC_HOST=127.0.0.1
CLICKHOUSE_TCP_PORT=9000
CLICKHOUSE_MYSQL_PORT=9004
CLICKHOUSE_LOG_DIR=/tmp/yba-clickhouse
CLICKHOUSE_MODE=unrestricted
CLICKHOUSE_NUMA_NODE=1

YCSB_HOME=/home/xhc/ycsb-jdbc-binding-0.17.0
PYTHON2_BIN=python2
JDBC_URL='jdbc:mysql://127.0.0.1:9004/ycsb?useSSL=false&autoReconnect=true&characterEncoding=utf8&serverTimezone=UTC'
JDBC_USER=default
JDBC_PASSWORD=
JDBC_DRIVER=com.mysql.cj.jdbc.Driver
JDBC_JAR=/home/xhc/ycsb-jdbc-binding-0.17.0/lib/mysql-connector-java-8.0.28.jar
TABLE=usertable

GENERATE_WORKLOAD=1
RECORDCOUNT=1000000
OPERATIONCOUNT_PER_CLIENT=1000
REQUEST_DISTRIBUTION=zipfian
READ_PROPORTION=1
UPDATE_PROPORTION=0
SCAN_PROPORTION=0
INSERT_PROPORTION=0
MATRIX='t1:1:1'
ROUNDS=1
STATUS_INTERVAL=10
RUN_SECONDS=300

ENABLE_CGROUP=0
ENABLE_THREAD_CLUSTER=0
